doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='FreeCodeCamp API and Microservice Projects')
    meta(name='author', content='Kyle Yasumiishi')
    title= title

    // Bootstrap core CSS
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')

    // Custom styles for this template
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(id='wrapper')
      
      // Sidebar
      div(id='sidebar-wrapper')
        ul(class='sidebar-nav')
          li(class='sidebar-brand')
            a(href='/') Home
          
          block sidebar
            li
              a(href='/api/timestamp') Timestamp
            li
              a(href='/api/headerparser') Request Header Parser
            li
              a(href='/api/urlshortener') URL Shortener
            li
              a(href='/api/exercise') Exercise Tracker
            li
              a(href='/api/filemetadata') File Metadata
            li
              if token
                a(href='/users/profile') My Account
              else
                a(href='/users/login') Login
            li
              a(href='/about') About

      // Page Content
      // Make sure to keep all page content within the #page-content-wrapper
      div(id='page-content-wrapper')
        div(class='container-fluid')
          a(href='#menu-toggle', class='btn btn-secondary', id='menu-toggle') Toggle Menu

          block content

    // Bootstrap core JavaScript
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')

    // Menu 
    script(src='/javascripts/menutoggle.js')  
